body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

.header, .header-fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 1;
}

.header-fixed {
    top: -200px;
}

.header-wrapper {
    padding: 10px 50px;
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    margin: auto 0;
    height: 58px;
}

.left-content {
    padding: 15px 0;
}

.left-content ul {
    list-style-type: none;
}

.left-content li {
    float: left;
}

.left-content-wrapper {
    float: right;
}

.left-content-wrapper a {
    text-decoration: none;
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    min-width: 180px;
    padding: 20px;
    z-index: 2;
    background: rgba(255,255,255,0.6);
    list-style: none;
}

.dropdown li {
    padding: 10px 5px;
    display: block;
    width: 100%;
}

.dropdown-content li a {
    color: #003363;
    font-size: 15px;
    border-bottom: 2px solid #e3e3e3;
}

.dropdown-content li > a:hover {
    border-bottom: 2px solid #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-heading {
    padding: 10px 20px;
}

.dropdown-heading a {
    color: #fff;
}

.dropdown-heading > a:hover {
    border-bottom: 2px solid #fff;
}

.intro {
    background: url("../img/main_bg.jpg") no-repeat;
    height: 90vh;
    min-height: 460px;
    max-height: 750px;
    background-position: center 80% !important;
    background-size: cover;
}

.intro h1 {
    font-weight: 300;
    font-size: 90px;
    margin: auto;
}

.intro h2 {
    margin: 0;
    font-weight: 300;
    line-height: 1.25;
    font-size: 30px;
    bottom: 80px;
}

.main .intro .wrapper, .contact .intro .wrapper {
    height: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.wrapper {
    position: relative;
    width: 85%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px 30px;
    text-align: center;
    color: #fff;
}

.nav-active {
    top: 0px;
    transition: all 0.6s ease-in-out;
    background-color: #fff;
    display: block;
}

.nav-active a {
    color: #2B5591;
}

.nav-active a:hover {
    border-bottom: 2px solid #2B5591;
}

/* css for contact heading starts*/
.contact .intro {
    min-height: 320px;
    max-height: 400px;
}

.contact .intro .wrapper {
    height: 450px;
}
/* css for contact heading ends */

.footer {
    background: #102749;
    height: 165px;
    width: 100%;
    position: relative;
}

.footer .footer-star {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.footer .footer-logo {
    position: absolute;
    left: 60px;
    top: 60px;
}

.footer .get-in-touch {
    position: absolute;
    top: 70px;
    right: 70px;
    display: grid;
    grid-template-columns: auto auto;
}

.get-in-touch h5 {
    color: #fff;
    font-size: 1.25em;
    font-weight: 700;
    margin-top: -2px;
    margin-right: 35px;
}

.get-in-touch h5 span {
    font-size: 0.9em;
    margin-left: 35px;
    font-weight: 400;
}

.icon {
    padding: 5px;
}

.icon img {
    height: 30px;
    width: 30px;
}

.credits {
    display: block;
    position: absolute;
    left: 50%;
    text-align: center;
    margin: 0;
    bottom: 8px;
    font-size: 13px;
    color: rgba(255,255,255,0.2);
    transform: translateX(-50%);
}

.credits span {
    transition: all 0.6s ease-in-out;
    font-weight: 600;
}

.credits span:hover {
    color: #fff;
}

.svg-footer {
    filter: invert(100%) sepia(95%) saturate(2%) hue-rotate(274deg) brightness(109%) contrast(101%);
}