.products-section {
    padding: 40px 0 165px;
}

.products-container {
    width: 80%;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    margin: 0 auto;
}

.product {
    border: 2px solid #666666;
    border-radius: 3px;
    margin: 10px;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.product-container {
    padding: 10px 20px;
}

.product .product-img {
    width: 150px;
    height: 200px;
    margin: 0 auto;
}

.product .product-img img {
    min-width: 50px;
    max-width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.product .product-content .product-name p {
    text-transform: capitalize;
}

.product-content {
    height: 150px;
}

.product-content .product-name {
    height: 40px;
    overflow: hidden;
    padding: 5px 0;
}

.product-content .product-quantity {
    padding: 10px 0;
}

.product-quantity {
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 15px auto 0;
}

.product-quantity p {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product-quantity .quantity-minus,
.product-quantity .quantity-no,
.product-quantity .quantity-plus {
    font-weight: 500;
    display: inline-block;
    font-size: 18px;
    text-align: center;
}

.product-quantity .quantity-minus {
    border: 2px solid #666;
    border-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.product-quantity .quantity-no {
    border: 2px solid #666;   
}

.product-quantity .quantity-plus {
    border: 2px solid #666;
    border-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-quantity .quantity-minus:hover,
.product-quantity .quantity-plus:hover {
    background-color: #7f8fa6;
}

@media screen and (min-width: 575px){
    .products-container {
        grid-template-columns: 50% 50%;
    }

    .products-section {
        padding: 40px 0 90px;
    }
}

@media screen and (min-width: 767px){
    .products-container {
        width: 90%;
        grid-template-columns: 30% 30% 30%;
    }

    .products-section {
        padding: 40px 0 80px;
    }
}

@media screen and (min-width: 991px){
    .products-container {
        width: 95%;
        grid-template-columns: 23% 23% 23% 23%;
    }
}